{% extends 'crud/base_admin.html' %} 
{% load static %}

    {% block links%}
      <link rel="stylesheet" href=" {% static 'crud/CSS/styles.css'%}">
    {% endblock links %}
    


    {% block contenido%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
<!-- imagen loop -->
    <h1 class="container mb-4">Administración de productos</h1>
    <div class="container mt-3">
        <div class="row mb-3">
           
   
            <div class="col-md-4 text-start">
                <!-- Botón para abrir el modal de agregar producto -->
                <a class="btn btn-primary" href="{% url 'adm_agregar_prod' %}">
                    Agregar Producto
                </a>
            </div>
        </div>
        {% load humanize%}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Tipo</th>
                        <th>Tamaño</th>
                        <th>Valor</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <td>{{ p.nombre }}</td>
                        <td><img src="{{ p.foto.url }}" alt="Producto" class="product-img" style="width: 100px;"></td>
                        <td>{{ p.categoria }}</td>
                        <td>{{ p.tamaño | capfirst }}</td>
                        <td>${{ p.precio | intcomma}}</td>
                        <td>{{ p.cantidad_disponible }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="{% url 'adm_modificar_prod' p.id %}">
                                Modificar
                            </a>
                            <a href="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No hay productos disponibles.</td>
                    </tr>
                    {% endfor %}
                    <!-- Agregar más filas según sea necesario -->
                </tbody>
            </table>
        </div>
    </div>
    

    {% endblock%}